<html>
  <head>
    <script src="js/application.js"></script>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>
    <h1 class="text-3xl font-bold underline bg-red-500">
      <%= I18n.t(:hello) %>
    </h1>
    <%= yield %>
  </body>
</html>